body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f4f4f4;
    flex-direction: column;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #5cb85c;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
}

#message {
    margin-top: 20px;
    text-align: center;
}

.error {
    color: red;
    font-size: 0.9em;
}

.password-hint {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    display: none;
}

.password-strength div {
    height: 5px;
    border-radius: 4px;
}

.weak {
    width: 33%;
    background-color: red;
}

.medium {
    width: 66%;
    background-color: orange;
}

.strong {
    width: 100%;
    background-color: green;
}